<style>
    body{
        background-color: #f5f5f5;
    }
    .container {
        margin: 0 auto;
        font-family: var(--font-poppins), sans-serif;
    }
    .container h1{
        
        margin-top: 20px;
        margin-left: 100px;
         font-family: "baloo-thambi", sans-serif;
        color: #108896;
        font-weight: 100px;
        font-size: 50px;
        
    
    }

    .list_report {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .lista {
        isplay: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .lista .card{
        position: relative;
        width: 300px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        
        background-color: rgb(255, 255, 255);
        border-radius: 0 0px 10px 10px;
        box-shadow: 2px 0px 20px #cecece;
   
    }
    .card .specie{
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        font-weight: bold;
font-size: 1.3rem;
        padding: 20px;
    }
    .card .card-img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .card .card-img img{
        height: 200px;
        
        width: 100%;
        object-fit: cover;
        
    }
    .card .date{
        margin: 10px 0 10px 0;
        padding: 0px 30px;
        color: #A5A5A5;
        font-weight: bold;
    }
    .card .card-title{
        margin-left: 30px;
        color: black;
    }
    .card .description{
        
        margin: 10px 0px 20px 30px;
        color: black;
    }
    .card .card-button button{
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        border: none;
        background-color:var(--logout-1);
        font-weight: bold;
        color: white;
        font-size: 1.1em;
        text-transform: uppercase;

    }

    #topBtn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 55px;
  height: 55px;
  background: #EF5030;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 30px;
}



        @media (max-width:430px){
        .container >h1{
            margin: 0;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
        }
        #topBtn{
        font-size: 22px;
        width: 40px;
        height: 40px;
        
        }
    }
</style>
<div class="container">
    <h1>Lista de Macotas Encontradas</h1>
    <div class="list_report">
        {{#each pets}}
        <div class="lista">

            <div class="card">
                <p class="specie">{{specie}}</p>
                <div class="card-img">
                    <img src="{{url}}" alt="">
                </div>
               <p class="date">{{datepet}}</p>
               <h1 class="card-title">
                    {{name}}
                </h1>
                <p class="description">{{observation}}</p>
                
                <div class="card-button">
                    <button onclick="window.location.href='/list/{{idpet}}'"> Ver Detalles</button>
                </div>
            </div>

        </div>
        {{/each}}

    </div>
    


</div>
<button id="topBtn"><i class="fas fa-arrow-up"></i></button>

<script>$(document).ready(function(){

  $(window).scroll(function(){
    if($(this).scrollTop() > 40){
      $('#topBtn').fadeIn();
    } else{
      $('#topBtn').fadeOut();
    }
  });

  $("#topBtn").click(function(){
    $('html ,body').animate({scrollTop : 0},800);
  });
});
</script>