<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 100%;
        height: 80vh;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        width: 80%;
    }

    .swiper-slide:nth-child(2n) {
        width: 60%;
    }

    .swiper-slide:nth-child(3n) {
        width: 40%;
    }

    .pet {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fcfbda ;
        font-family: var(--font-poppins);
    }

    .pet .name_pet {
        width: 100%;
        text-align: center;
        padding: 30px;
        margin-top: 20px;
    }

    .pet .name_pet h1 {
        font-size: 4.45em;
        color: var(--cl-secondary);
        text-transform: uppercase;
        font-weight: bold;
        font-family: "baloo-thambi", sans-serif;
    }

    .description {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .description .text {
        width: 50%;
    }

    .description .text p {
        color: var(--cl-secondary);
        font-size: 1.6rem;
        margin: 10px;
    }

    .description .text p strong {

        font-size: 1.7rem;

    }

    .description .mapa {
        width: 40%;
    }

    .description .mapa .map-title {
        width: 100%;
        text-align: center;
        color: var(--cl-secondary);
        font-size: 1.2rem;
    }

    .description .mapa .map-image {
        width: 100%;
    }

    .description .mapa .map-direction {
        width: 100%;
    }

    .description .mapa .map-direction p {
        margin: 10px;
        color: var(--cl-secondary);
        text-align: center;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .contact .title {
        width: 100%;
        text-align: center;
        color: var(--cl-secondary);
        margin: 30px 0px;
        font-family: "baloo-thambi", sans-serif;
        font-weight: lighter;
    }

    .contact .cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact .cards .card {
        padding: 20px;
        width: 30%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
    }

    .contact .cards .card .icon{
        width: 100%;
        height: 40px;
        text-align: center;
    }

    .contact .cards .card .title{
        margin: 10px 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    .contact .cards .card .content{
        text-align: center;
    }

    .contact .cards .green {
        background-color: #cbf09e;
        box-shadow: 3px 0px 30px #bdb9b9;
    }

    .contact .cards .yellow {
        background-color: #a7e7f5;
        box-shadow: 3px 0px 30px #bdb9b9;
    }
     .contact .cards .blue {
        background-color: #2598b3;
        box-shadow: 3px 0px 30px #bdb9b9;
    }
    .contact .cards .card .icon1{
        width: 10%;
        height: 40px;
        position: relative;
        margin-left: 43%;
    }



#map{
    width:100%
  
}


footer {
  background: #363636;
  
  padding-top: 48px;
  padding-bottom: 55px;
}
#footer .container .logo {
    background: url('img/dup2.png') ;
    background-repeat: no-repeat;
    background-size: 130px;
    z-index: 12;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
}



footer p {
  font-size: 13px;
  line-height: 25px;
  color: #f19f1f;
  margin-right:400px ;
  
}

footer .footer-manu p{ 
  text-align: center;
}


footer a {
  color: #f19f1f;

}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px 350px 0px 0px;
  padding: 0px;
  text-align: center;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #f19f1f;
}
footer .footer-manu ul li a:hover {
  color: #EF5030;
}
#topBtn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 55px;
  height: 55px;
  background: #EF5030;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 30px;
}

footer{
    padding: 0;
}
.container{
    background-color: transparent;
    padding: 0;
}
footer .container img{
  margin: 0;
  padding: 0;
}
footer .row{
   
  display: flex;
  flex-direction: column;
}
footer br{
  display: none;
}
footer p{
  width: 100%;
}
    @media (max-width:768px){
        .pet .name_pet h1{
            margin: 10px;
            font-size: 2rem;
        }
        .swiper-slide {
        width: 100%;
        height: 60vh;

       
    }


.pet .name_pet{
    padding: 0px;
    margin-top: 0;
}
.description{
    flex-direction: column;
}
.description .text,
.description .map{
    padding: 10px;
    width: 100%;
}
.description .text p{
    font-size: .8rem;
}
.description .text p strong{
    font-size: .8rem;
}
.contact .cards{
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .cards .card{
    margin: 20px 10px;
    width: 80%;
}
#map{width:100%;
margin: 0 20px;}

 .description .mapa {
     width: 100%;
 }
    .description .mapa .map-image {
        display: flex;
        width: 100%;
    }

    }
</style>


<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
  </head>
  



<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        {{#each images}}
        <div class="swiper-slide">
            <img loading="lazy" src="{{dir_image}}" alt="{{dir_image}}">
        </div>

        {{/each}}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="container pet">
    <div class="name_pet">
        <h1>{{pet.pet_name}}</h1>
    </div>

    <div class="description">
        <div class="text">
            <p><strong>Especie: </strong>{{pet.specie}}</p>
            <p><strong>Tamaño: </strong>{{pet.size}}</p>
            <p><strong>Sexo: </strong>{{pet.sex}}</p>
            <p><strong>Fecha de Perdida: </strong>{{pet.datepet}}</p>
            <p><strong>Observationes:</strong></p>
            <p>
                {{pet.observation}}
            </p>

        </div>
        <div class="mapa">
            <div class="map-title">
                <h2>Dirección</h2>
                 <p>{{pet.direction}}</p>
            </div>
            <div class="map-image">
<div id="map" ></div>
            </div>
            
        </div>
    </div>
    <div class="contact">
        <div class="title">
            <h2>Datos de Contacto</h2>
        </div>
        <div class="cards">
            <div class="card green">
                <div class="icon">
                    <img src="/svg/user.svg" alt="">
                </div>
                <div class="title">
                    <h3>NOMBRE</h3>
                </div>
                <div class="content">
                    {{pet.name}}
                </div>
            </div>
            <div class="card yellow">
                <div class="icon">
                    <img src="/svg/email.svg" alt="">
                </div>
                <div class="title">
                    <h3>Email</h3>
                </div>
                <div class="content">
                    {{pet.email}}
                </div>  
            </div>
        
        <div class="card blue">
                <div class="icon1">
                    <img src="/svg/020-telephone-3.svg" alt="">
                </div>
                <div class="title">
                    <h3>Teléfono</h3>
                </div>
                <div class="content">
                    {{pet.phone}}
                </div>  
            </div>
        </div>


    </div>
</div>

 <footer>
      
      <div class="container">
        <div class="row">
            <label class="logo" > </label>
           
         
            <div class="footer-manu">
              <!--ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Terms</a></li>
              </ul-->
              <br>
              <p>       Copyright &copy; Crafted by NEIL GRANEROS.</p>
            </div>
          

          

        </div>
      </div>
</footer>

  
<script>

    function iniciarMapa(){
        var latitud = {{pet.latitud}};
        var longitud = {{pet.longitud}};

        coordenadas = {
            lng: longitud,
            lat:latitud
        }

        generarMapa(coordenadas);
    }

    function generarMapa(coordenadas){
        var mapa = new google.maps.Map(document.getElementById('map'),
        {
            zoom: 12,
            center: new google.maps.LatLng(coordenadas.lat, coordenadas.lng)
        });
        
        marcador = new google.maps.Marker({
            map: mapa,
            draggable: true,
            position: new google.maps.LatLng(coordenadas.lat, coordenadas.lng)
        });

        marcador.addListener('dragend', function(event){
            document.getElementById("latitud").value = this.getPosition().lat();
            document.getElementById("longitud").value = this.getPosition().lng(); 
        })
    }


</script>
<!--//AIzaSyCg2vWi7xAjxeEFENIcDvUPDawxlCBjJuU//-->



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg2vWi7xAjxeEFENIcDvUPDawxlCBjJuU&callback=iniciarMapa" type="text/javascript"></script>




<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",
        spaceBetween: 5,

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>